.add-wrap {
    height: 28.125rem;
}

._3eKUjP {
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    border-radius: .25rem;
    overflow: hidden;
    width: 31.25rem;
}

._1kB8ZB,
._3eKUjP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.add-window,
._1kB8ZB,
._1ll1hE,
._3eKUjP,
._24crK9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.add-window {
    height: 1.5625rem;
    padding: 1.875rem;
}

.add-window,
._24crK9 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.add-window,
._1ll1hE,
._24crK9 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.P5WP_q {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .8);
    cursor: auto;
    text-transform: capitalize;
}

._37G57D {
    outline: none;
    padding: 0 .625rem;
    border: 0;
    background: none;
    border-radius: .125rem;
}

._1BMmPI,
._1qIIqG {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._1BMmPI {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._30hdn9 {
    font-size: 1rem;
    color: #ee4d2d;
    font-weight: 500;
}

._37G57D {
    outline: none;
    padding: 0 .625rem;
    border: 0;
    background: none;
    border-radius: .125rem;
}

._1kB8ZB,
._7hr5td {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

._1kB8ZB {
    padding: 0 1.875rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

._7hr5td {
    overflow-x: hidden;
    overflow-y: auto;
}

._1hrX38 {
    min-height: 1rem;
    margin-bottom: .3125rem;
}

._3Iaafj {
    width: 100%;
    margin-bottom: .9375rem;
    border-radius: .125rem;
    overflow: hidden;
}

._3Yv2iF {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._2A9mXk {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._1SF2V_ {
    border: 1px solid #ff424f;
}

._2dL9Rw,
._3Ojta0 {
    padding: .625rem;
    outline: none;
}

._3Ojta0 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .14);
    height: 2.5rem;
}

._2FkD2v {
    margin: 0;
    padding: .5rem 0 .125rem;
    font-size: .75rem;
    color: #ff424f;
}

._3Iaafj {
    width: 100%;
    margin-bottom: .9375rem;
    border-radius: .125rem;
    overflow: hidden;
}

._3Yv2iF {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._2A9mXk {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._2dL9Rw,
._3Ojta0 {
    padding: .625rem;
    outline: none;
}

._3Ojta0 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .14);
    height: 2.5rem;
}

._3pz6_V {
    margin: 1.25rem 0;
}

._1ll1hE {
    margin: 1.375rem 0;
}

._1ll1hE {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.NEo3aF {
    background: none;
    padding: 0;
    border: 0;
    outline: none;
    text-transform: capitalize;
    color: #ee4d2d;
}

._3GJmNc {
    margin: 0 .9375rem;
    height: 1.25rem;
    border-right: 1px solid #eaeaea;
}

._3ihZmN {
    color: #939393;
}

._1ll1hE {
    margin: 1.375rem 0;
}

._1ll1hE {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

._3JP5il {
    color: #fff;
    background-color: #ee4d2d;
}

._7h_6kj {
    text-transform: uppercase;
}

._1qIIqG {
    height: 2.125rem;
    min-width: 8.75rem;
    margin-left: .5rem;
}

._37G57D {
    outline: none;
    padding: 0 .625rem;
    border: 0;
    background: none;
    border-radius: .125rem;
}

._1BMmPI,
._1qIIqG {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._1BMmPI {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}


/* .add-new-btn { */


/* position: fixed; */


/* right: 20px; */


/* bottom: 20px; */


/* background: #FF4081; */


/* color: white; */


/* display: flex; */


/* align-items: center; */


/* justify-content: center; */


/* height: 53px; */


/* width: 53px; */


/* border-radius: 100em; */


/* z-index: 9001; */


/* box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); */


/* transition: all 500ms ease-in-out; */


/* } */

.add-new-btn:hover {
    cursor: pointer;
}

.add-wrap {
    display: none;
    position: fixed;
}

.add-wrap button {}

.add-wrap input {}

.add-wrap div {}